extends layout

block content
    #wrapAccountPage(style='height: 88vh; width: 100%; position: relative; top: 10vh; font-family: "PT Mono", monospace')
        .row
            .col-12
                #accountPage.shadow(style='height: 88vh; width: 70%; margin-left: 15%; background: white; border-radius: 20px; padding: 5vh')
                    form(method='POST', action='/singleServicePage/id/' + user._id + '/detailInformationAboutMe')
                        .row
                            .col-12
                                .clearfix
                                    .float-left
                                        a(href='/singleServicePage/id/' + user._id) <- Назад в рабочий сервис
                                    .float-right
                                        a#btnChange.btn.btn-light Изменить
                            .col-12.mt-3
                                .clearfix
                                    .float-left
                                        h3= user.full_name
                                    .float-right
                                        button.btn.btn-warning(style='background: #ff8b03; border: none; color: white;', type='submit') Сохранить
                            .col-12
                                .row
                                    .col-4
                                        .form-group
                                            label(for='serviceName', style='font-size: 0.8em') Названия сервиса:
                                            input#serviceName.form-control(type='text', name='serviceName', placeholder='ИП/TOO "Service Pro"')
                                        .form-group
                                            label(for='bin_iin', style='font-size: 0.8em') БИН/ИИН:
                                            input#bin_iin.form-control(type='text', name='bin_iin', placeholder='БИН/ИИН', value=user.iin)
                                        .form-group
                                            label(for='serviceCategory',style='font-size: 0.8em') Спектр услуг:
                                            select#serviceCategory.form-control(name='serviceCategory')
                                                option(value='Не выбрано') Не выбрано
                                                option(value='Ремонт кузова') Ремонт кузова
                                                option(value='Ремонт АКПП/КПП') Ремонт АКПП/КПП
                                                option(value='Ремонт ДВС') Ремонт ДВС
                                                option(value='Ремонт ходовой части') Ремонт ходовой части
                                        .form-group
                                            label(for='city', style='font-size: 0.8em') Ваш город:
                                            input#city.form-control(type='text', name='city', placeholder='Нур-Султан')
                                        .form-group
                                            label(for='address', style='font-size: 0.8em') Место нахождение:
                                            input#address.form-control(type='text', name='address', placeholder='Введите адрес')
                                        .form-group
                                            label(for='phoneNumber', style='font-size: 0.8em') Номер телефона:
                                            input#phoneNumber.form-control(type='number', name='phoneNumber', placeholder='8(xxx)xxx-xx-xx')
                                    .col-4
                                        .form-group
                                            label(for='ranking', style='font-size: 0.8em') Ваш рейтинг
                                            input#ranking.form-control(type='number', name='ranking', value=0, disabled)
                                        .form-group
                                            label(for='orderAccepted', style='font-size: 0.8em') Заказов принято
                                            input#orderAccepted.form-control(type='number', name='orderAccepted', value=0, disabled)
                                        .form-group
                                            label(for='orderInProcess', style='font-size: 0.8em') Заказы в процессе
                                            input#orderInProcess.form-control(type='number', name='orderInProcess', value=0, disabled)
                                        .form-group
                                            label(for='orderIsDone', style='font-size: 0.8em') Заказов выполнено
                                            input#orderIsDone.form-control(type='number', name='orderIsDone', value=0
                                            , disabled)
                                        .form-group
                                            label(for='numberOrder', style='font-size: 0.8em') Общие количество заказов
                                            input#numberOrder.form-control(type='number', name='numberOrder', value=0, disabled)
    script(src="/assets/js/serviceAccount.js")