.navbar-brand{
    font-size: 24px!important;
    font-family: 'PT Mono', monospace;
    font-weight: bold!important;
}
#enter_btn{
    border: 3px solid #FF8B03;
    border-radius: 30px;
    font-size: 18px!important;
    color: white;
}
#enter_btn:hover{
    background-color: #FF8B03;
}
#section-1{
    background-image: url('../img/car.png');
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

#best_service{
    font-family: 'PT Mono', monospace;
    font-weight: bold;
    color: white;
    position: relative;
    transform: translate(10vh, 20vh);
}

#describe_problem{
    font-family: 'PT Mono', monospace;
    font-weight: bold;
    color: white;
    position: relative;
    transform: translate(13vh, 23vh);
}

.row #sms{
    position: relative;
    transform: translateY(30vh);
}
#sms .input-group input{
    height: 9vh;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: none;
    outline: none;
    padding-left: 5vh;
}
#sms .input-group-append button{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background:#FF8B03;
    outline:none;
    border: none;
    color: white;
    font-family: 'PT Mono', monospace;
    font-size: 24px;
    padding-left: 5vh;
    padding-right: 5vh;
}

#why_exactly_us{
    border-bottom: 1px solid black;
    font-family: 'PT Mono', monospace;
}


#bordered{
    border-left: 3px solid #FF8B03;
    border-bottom: 3px solid #FF8B03;
    font-family: 'PT Mono', monospace;
}

#bordered #main_title{
    transform: translate(5vh, 10vh);
    font-size: 30px;
    font-weight: bold;
}
#bordered #main_text{
    transform: translate(5vh, 15vh);
    font-size: 26px;
}

#under_content{
    height: 40vh;
    width: 90%;
    margin-top: 10vh;
    border: 1.5px solid #FF8B03;
    position: relative;
}

#top_video{
    height: 40vh;
    width: 90%;
    margin-left: 8%;
    position:relative;
    margin-top: -45vh;
}
#top_video iframe{
    height: 100%;
    width: 100%;
}

#figure{
    height: 15vh;
    width: 23%;
    position:relative;
    background-image: url('../img/figure.png');
    background-repeat: none;
    background-size: cover;
    transform: translate(50.5vh, 9.6vh);
}
/* SECTION 3 */
#section-3{
    font-family: 'PT MONO', monospace;
}

#our_services{
    border-bottom: 1px solid black;
}

#catalog #catalog_title{
    font-size: 36px;
}

#catalog .row p{
    height: 20vh;
    width: auto;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 20px;
}

#catalog .row p:hover{
    border-color: #FF8B03;
    background-color: #FF8B03;
    color: white;
    box-shadow: 0px 6px 10px 0px rgba(255,137,3,1);
}

/* SECTION 4 */
#section-4{
    font-family: 'PT Mono', monospace;
}

#data_realtime{
    border-bottom: 1px solid black;
}



/* #car_infa, #car_content{
    padding-top: 5px;
    padding-bottom: 5px;
} */

#car_content .col-sm-2, #car_content .col-sm-3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 18px;
    background-color: #525252;
    color: white;
}

#car_infa .col-sm-2, #car_infa .col-sm-3,#car_infa .col-sm-10{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 18px;
}

#car_infa:nth-child(1){
    background-color: #FF8B03;
    color: white;
}

#car_infa:hover{
    background-color: #FF8B03;
    color: white;
}

#status_color div{
    height: 2vh;
    width: 2vh;
    border-radius: 50px;
    margin-top: -36px;
    background-color: yellow;
}

/* SECTION 5 */

#yandex_maps{
    background-image: url('../img/yandex_maps.png');
    background-repeat: none;
    background-size: cover;
}

/* FOOTER INNER */

#footer_inner{
    position: relative;
    margin-top: 5vh;
    font-family: 'PT Mono', monospace;
    color: white;
}

#car_link{
    font-size: 2em;
    color: white;
    font-weight: bold;
}

/* SIGN IN*/
#sign_in{
    height: 100vh;
    width: 100%;
    font-family: 'PT Mono', monospace;
}

#sign_in #image{
    position: absolute;
    margin-top: 7.5vh;
    height: 93vh;
    width: 60%;
    background-image: url('../img/sign_in.png');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

#sign_in #image #image_in{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.4);;
}

#sign_in #inputs{
    position:absolute;
    height: 75vh;
    width: 25%;
    margin-top: 7.5vh;
    margin-left: 60%;
    transform: translate(30%, 15vh);
    /* outline: 1px solid black; */
}

#sign_in #inputs p{
    font-size: 2.5em;
}
#form_one > input{
    margin-top: 20px;
}

#form_one label{
    position: absolute;
    z-index: 999;
    margin-top: 6.5px;
    font-size: 1em;
}
#form_one input.form-control{
    position: relative;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-bottom: 2px solid black;
    padding: 0;
}

#form_one a{
    position: relative;
    left: 30%;
    
}

#form_one .btn{
    width: 100%;
    position: relative;
    margin-top: 5vh;
    background-color: #FF8B03;
    color: white;
    border-radius: 30px;
    box-shadow: 0 1 3 1 #FF8B03;
}

#forms{
    width: 100%;
    /* outline: 1px solid black; */
}

#under_line{
    margin-top: 5vh;
}

#not_have_account{
    margin-top: 7vh;
    color: rgba(0,0,0,0.5);
}

#registration{
    margin-top: 4vh;
}

#registration a{
    color: black;
}

/* SIGN UP */
#sign_up{
    height: 100vh;
    width: 100%;
    font-family: 'PT Mono', monospace;
}

#sign_up #image_section{
    position: absolute;
    margin-top: 7.5vh;
    height: 93vh;
    width: 60%;
    background-image: url('../img/sign_in.png');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

#sign_up #image_section #image_up{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.4);;
}

#sign_up #inputs_section{
    position:absolute;
    height: 75vh;
    width: 25%;
    margin-top: 7.5vh;
    margin-left: 60%;
    transform: translate(30%, 15vh);
    /* outline: 1px solid black; */
}

#sign_up #inputs_section p{
    font-size: 2.5em;
}
#form_two > input{
    margin-top: 20px;
}

#form_two label{
    position: absolute;
    z-index: 999;
    margin-top: 6.5px;
    font-size: 1em;
}
#form_two input.form-control{
    position: relative;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-bottom: 2px solid black;
    padding: 0;
}

#form_two .btn{
    width: 100%;
    position: relative;
    margin-top: 5vh;
    background-color: #FF8B03;
    color: white;
    border-radius: 30px;
    box-shadow: 0 1 3 1 #FF8B03;
}

#forms{
    width: 100%;
    /* outline: 1px solid black; */
}



/* SIGN UP CHANGES */
.sign_up_tab{
    display: flex !important;
    flex-direction: row!important;
    margin-top: 3vh;
}

.sign_up_tab a{
    display: flex;
    justify-content: center;
}


/* SINGLE USER PAGE */
#wrap{
    height: 88vh;
    margin-top: 10vh;
    /* outline: 1px solid black; */
}

#menu_block{
    height: 8vh;
    /* outline: 1px solid black; */
    display: flex;
    justify-content: center;
}

#content_block{
    height: 80vh;
    border-radius: 10px;
    overflow-y: scroll;
}

.menu_block_tab{
    display: flex!important;
    flex-direction: row!important;
    justify-content: center!important;
    align-items: center!important;
    width: 60%;
}

.menu_block_tab a{
    margin-left: 3vw;
    text-align: center;
}

#menu_block_btn{
    background: #FF8B03;
    padding: 5px;
    color: white;
    border-radius: 10px;
}
#menu_block_btn:hover{
    box-shadow: 0px 3px 6px 0px rgba(255,137,3, 0.75)
}

/* CONTENT BLOCK */
#ispolniteli_content{
    position: relative;
    margin-left: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 2vh;
}

#ispolniteli_title h3{
    margin-top: 3vh;
    margin-left: 5vh;
}

#ispolniteli_sort{
    margin-top: 3vh;
    margin-left: -4vh;
}

#ispol_text{
    font-size: 0.7em;
}

/* ADD NEW ORDER */
#new_order_wrap{
    height: 88vh;
    margin-top: 10vh;
}

#newOrderSection{
    font-family: 'PT Mono', monospace;
}


/* SINGLE SERVICE PAGE */
#menuItems{
    display: flex;
    justify-content: center;
}
#menuItems #list-tab{
    display: flex!important;
    flex-direction: row!important;
    width: 100%;
}

#menuItems a{
    text-align: center;
    display: flex;
    flex-direction: row!important;
    justify-content: center;
    padding-top: 0.3em;
}

button#submitOrder{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ff8b03;
}

/* #contentRightSightTune{
    width: 10%;
} */